*

!readme.md
!.gitignore
!.gitmodules
!.vimrc
!.zshrc
!.zsh_aliases

# Config files
!.config
.config/*

# nvim
!.config/nvim
!.config/nvim/*
.config/nvim/lazy-lock.json
!.config/nvim/lua
!.config/nvim/lua/*
!.config/nvim/lua/chade
!.config/nvim/lua/chade/*
!.config/nvim/after/ftplugin
!.config/nvim/after/ftplugin/*
!.config/nvim/after/plugin
!.config/nvim/after/plugin/*

# i3
!.config/i3
!.config/i3/*
.config/i3/config

# fish
!.config/fish
!.config/fish/*
!.config/fish/completions
!.config/fish/completions/*
!.config/fish/conf.d
!.config/fish/conf.d/*

!.config/fish/functions
.config/fish/functions/*
!.config/fish/functions/n.fish
!.config/fish/functions/push.fish
!.config/fish/functions/xclip.fish

# tmux
!.tmux.conf

# plank themes
!.local
!.local/share
!.local/share/plank
!.local/share/plank/*
